/* General - START */
#mce .clr_0,
#mce .clr_1,
#mce .clr_5,
#mce .clr_10,
#mce .clr_15,
#mce .clr_20,
#mce .clr_30,
#mce .clr_50,
#mce .clr_80,
#mce .clr_100,
#mce .clr_hr {backmtound:none; clear:both !important; float:none !important; position:relative; padding:0 !important; margin:0 !important; display:block !important}
#mce .clr_hr,
#mce .clr_0 {height:0 !important;}
#mce .clr_1 {height:1px !important}
#mce .clr_5 {height:5px !important}
#mce .clr_10 {height:10px !important}
#mce .clr_15 {height:15px !important}
#mce .clr_20 {height:20px !important}
#mce .clr_30 {height:30px !important}
#mce .clr_50 {height:50px !important}
#mce .clr_80 {height:80px !important}
#mce .clr_100 {height:100px !important}
#mce .clr_hr {border-bottom:1px solid #CCC !important;}
#mce .clr_hr_blue {border-bottom:1px solid rgb(160, 208, 235) !important;}
#mce .center {text-align: center !important}
#mce .float-right {float: right;}
#mce .fancyform {min-width: 850px; max-width: 850px;}
#mce .icon-time-blue {color: #00AFF0 !important;}
#mce .icon-time-red {color: #EAB3B7 !important;}
#mce .bt-effect {box-shadow: 1px 1px 12px #555;}
#mce .submenu {margin-left: 20px;}
#mce .list-group-item {cursor: pointer !important;}
#mce .disabled {border: none !important; background-color: #F9F9F9 !important;}
#mce .padding-left-20 {padding-left: 20px !important;}
#mce .bootstrap .switch {float: left;}

.bootstrap .table thead>tr>th span.title_box .label-tooltip {
	color: #000000 !important;
	background-color: transparent !important;
	border: none !important;
	border-bottom: none !important;
	padding: 0 5px !important;
}

#mce .sub-tab-panel {
	position: relative;
	margin-bottom: 20px;
}
#mce .background-white {background-color: white}
#mce .bt_my_tabs_content {
	border-left: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	padding: 15px 15px 15px 15px;
}
#mce .nav-tabs li>a {
	color: #555 !important;
	background-color: white !important;
	xborder: 1px solid #ddd !important;
	border-bottom-color: #ddd !important;
	cursor: pointer !important;
}
#mce .nav-tabs li.active>a {
	border-bottom-color: transparent !important;
	cursor: default !important;
	color: white !important;
	background-color: #00aff0 !important;
}
#mce .bt_tr_header {background-color: #363A41 !important; color:white !important; margin-bottom: 5px !important;}
/* General - END */

/* Timeline - START */
#mce .timeline {
	list-style: none;
	padding: 20px 0 20px;
	position: relative;
}
#mce .timeline:before {
	top: 0;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 3px;
	background-color: #eeeeee;
	left: 50%;
	margin-left: -1.5px;
}
#mce .timeline > li {
	margin-bottom: 20px;
	position: relative;
}
#mce .timeline > li:before,
#mce .timeline > li:after {
	content: " ";
	display: table;
}
#mce .timeline > li:after {clear: both;  }
#mce .timeline > li:before,
#mce .timeline > li:after {
	content: " ";
	display: table;
}
#mce .timeline > li:after { clear: both;}
#mce .timeline > li > .timeline-panel {
	width: 46%;
	float: left;
	border: 1px solid #d4d4d4;
	border-radius: 2px;
	padding: 20px;
	position: relative;
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
#mce .timeline > li > .timeline-panel:before {
	position: absolute;
	top: 26px;
	right: -15px;
	display: inline-block;
	border-top: 15px solid transparent;
	border-left: 15px solid #ccc;
	border-right: 0 solid #ccc;
	border-bottom: 15px solid transparent;
	content: " ";
}
#mce .timeline > li > .timeline-panel:after {
	position: absolute;
	top: 27px;
	right: -14px;
	display: inline-block;
	border-top: 14px solid transparent;
	border-left: 14px solid #fff;
	border-right: 0 solid #fff;
	border-bottom: 14px solid transparent;
	content: " ";
}
#mce .timeline > li > .timeline-badge {
	color: #fff;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 1.4em;
	text-align: center;
	position: absolute;
	top: 16px;
	left: 50%;
	margin-left: -25px;
	background-color: #999999;
	z-index: 100;
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
}
#mce .timeline > li.timeline-inverted > .timeline-panel {float: right;}
#mce .timeline > li.timeline-inverted > .timeline-panel:before {
	border-left-width: 0;
	border-right-width: 15px;
	left: -15px;
	right: auto;
}
#mce .timeline > li.timeline-inverted > .timeline-panel:after {
	border-left-width: 0;
	border-right-width: 14px;
	left: -14px;
	right: auto;
}
#mce .timeline-badge.primary {background-color: #2e6da4 !important;}
#mce .timeline-badge.success {background-color: #3f903f !important;}
#mce .timeline-badge.warning {background-color: #f0ad4e !important;}
#mce .timeline-badge.danger {background-color: #d9534f !important;}
#mce .timeline-badge.info-advice {background-color: #5bc0de !important;}
#mce .timeline-title {
	margin-top: 0;
	color: inherit;
}
#mce .timeline-body > p,
#mce .timeline-body > ul {margin-bottom: 0;}
#mce .timeline-body > p + p {margin-top: 5px;}
/*#mce .google-square {*/
	/*width:50px;*/
	/*height: 50px;*/
	/*background-image:url("../img/admin/google-logo.png");*/
	/*background-repeat: no-repeat;*/
/*}*/
/* Timeline - END */
