@"
/config/parameters.php
/config/settings.inc.php
/var/
/cache/
/log/
/upload/
/download/
/img/p/
/img/c/
/img/tmp/
/admin*/autoupgrade/
/admin*/backups/
/admin*/export/
/admin*/import/
/translations/*.zip
*.log
*.sql
*.sql.gz
node_modules/
vendor/

# prune heavy binaries (not needed to review nav code)
**/*.png
**/*.jpg
**/*.jpeg
**/*.gif
**/*.webp
**/*.svg
**/*.ico
**/*.zip
**/*.rar
**/*.pdf
**/*.mp4
**/*.ttf
**/*.woff
**/*.woff2
**/*.eot
modules/*/views/img/**
themes/*/assets/img/**
themes/*/assets/images/**
"@ | Out-File -Encoding utf8 .\.gitignore

